<p matDialogTitle>New Permission</p>

<mat-dialog-content class="form">
  <span>Parent: {{ parent.nodePath }}({{ parent.description }})</span>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Path" formControlName="nodePath" />
    </mat-form-field>

    <mat-form-field>
      <textarea
        matInput
        placeholder="Description"
        formControlName="description"
        cdkTextareaAutosize
      ></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button color="primary" (click)='onSubmit()'>Save</button>
</mat-dialog-actions>
