<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-dialog-content class="form">
    <h2>{{ title }}</h2>
    <h3>{{ saved | async }}</h3>

    <mat-form-field>
      <input matInput placeholder="Query Name" formControlName="name" />
    </mat-form-field>

    <mat-form-field>
      <textarea
        matInput
        placeholder="Description"
        formControlName="description"
        cdkTextareaAutosize
      ></textarea>
    </mat-form-field>

    <mat-form-field>
      <textarea
        matInput
        placeholder="SQL Command"
        formControlName="command"
        cdkTextareaAutosize
        formControlName="command"
      ></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder='Directory' formControlName='directory'>
      <!-- <mat-autocomplete #directory="matAutocomplete"> -->
        <mat-option *ngFor="let directory of directories" [value]="directory.uri">
          {{ directory.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>    

    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Permission"
        formControlName="permission"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete" [displayWith]='_displayPermission'>
        <mat-option *ngFor="let permission of filteredPermissisons | async" [value]="permission.uri">
          {{ permission.nodePath }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button>Try</button>
    <button mat-button color="primary" type="submit">Save</button>
  </mat-dialog-actions>
</form>
