<h2>Queries</h2>

<button
  mat-fab
  class="fab-mini"
  (click)="onQueryNew()"
  *ngIf="login$.isAdmin()"
>
  <i class="material-icons">add</i>
</button>

<div>
  <mat-form-field>
    <input matInput [formControl]="querySearch" placeholder="Pesquisar" />
  </mat-form-field>
</div>

<div class="mat-elevation-z8">
  <mat-table [dataSource]="dataSource">
    <ng-container cdkColumnDef="name">
      <mat-header-cell *cdkHeaderCellDef>
        Name
      </mat-header-cell>

      <mat-cell *cdkCellDef="let query">
        {{ query.name }}
        ({{ query.id }})
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="description">
      <mat-header-cell *cdkHeaderCellDef>
        Description
      </mat-header-cell>

      <mat-cell *cdkCellDef="let query">
        {{ query.description }}
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="actions">
      <mat-header-cell *cdkHeaderCellDef>
        Actions
      </mat-header-cell>

      <mat-cell *cdkCellDef="let query">
        <mat-icon (click)="$event.stopPropagation(); onQueryEdit(query)" *ngIf="login$.isAdmin()">edit</mat-icon>
        <mat-icon (click)="$event.stopPropagation(); onQueryDelete(query)" *ngIf="login$.isAdmin()">delete</mat-icon>
      </mat-cell>

    </ng-container>

    <mat-header-row *cdkHeaderRowDef="diplayedColumns"></mat-header-row>
    <mat-row
      *cdkRowDef="let query; columns: diplayedColumns"
      matRipple
      style="cursor: pointer"
      (click)="onQueryShow(query)"
    ></mat-row>
  </mat-table>
</div>
<!-- <mat-accordion>
    <app-query-item *ngFor='let q of queries' [query]='q'></app-query-item>
</mat-accordion>   -->
