<h2 mat-dialog-title>Query: {{ query.name }}</h2>

<mat-dialog-content>
  Description: {{ query.description }}
  <mat-divider></mat-divider>
  <br>
  Permission: {{ query.permission }}
  <mat-divider></mat-divider>
  <br>
</mat-dialog-content>

<mat-dialog-content *ngIf="queryRan">
  Results:
  <div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource">
      <ng-container [matColumnDef]="col" *ngFor="let col of displayedColumns">
        <mat-header-cell *cdkHeaderCellDef>
          {{ col }}
        </mat-header-cell>

        <mat-cell *cdkCellDef="let element">
          {{ element[displayedColumns.indexOf(col)] }}
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"> </mat-header-row>
      <mat-row
        *matRowDef="let row; columns: displayedColumns"
        matRipple
        style="cursor: pointer"
      >
      </mat-row>
    </mat-table>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button color="primary" (click)="runQuery()">
    Correr
  </button>
  <button mat-button (click)="download()">
    Download
    <mat-icon>cloud_download</mat-icon>
  </button>
</mat-dialog-actions>
