<h2>My Permissions</h2>

<div>
  <mat-form-field>
    <input matInput [formControl]="search" placeholder="Pesquisar" />
  </mat-form-field>
</div>

<div class="mat-elevation-z8">
  <mat-table [dataSource]="dataSource">
    <ng-container cdkColumnDef="nodePath">
      <mat-header-cell *cdkHeaderCellDef>
        Path
      </mat-header-cell>

      <mat-cell *cdkCellDef="let Permission">
        {{ Permission.nodePath }}
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="description">
      <mat-header-cell *cdkHeaderCellDef>
        Description
      </mat-header-cell>

      <mat-cell *cdkCellDef="let Permission">
        {{ Permission.description }}
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="addChild" *ngIf="login$.isAdmin()">
      <mat-header-cell *cdkHeaderCellDef>
        Actions
      </mat-header-cell>

      <mat-cell *cdkCellDef="let Permission">
        <mat-icon (click)="$event.stopPropagation(); onPermissionNew(Permission)">add</mat-icon>
        <mat-icon (click)="$event.stopPropagation(); onPermissionDelete(Permission)">delete</mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="diplayedColumns"></mat-header-row>
    <mat-row
      *cdkRowDef="let permission; columns: diplayedColumns"
      matRipple
      style="cursor: pointer"
      (click)='onPermissionEdit(permission)'
    ></mat-row>
  </mat-table>
</div>
